.chat {
  width: 330px;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 1052;

  @include media-breakpoint-down('sm') {
    width: 100%;
    right: 0;
  }

  &.is-opened {
    max-height: 100%;
  }

  &:not(.is-opened) {
    .chat-messages, .chat-form {
      display: none;
    }
  }
}

.chat-heading {
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
  background: linear-gradient(180deg, $primary, darken($primary, 10%));
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px 3px 0 0;
}

.chat-messages {
  overflow-y: auto;
  background: white;
  padding: 15px 12px;
}

.chat-form {
  display: flex;

  .btn, .form-control {
    border-radius: 0;
  }

  .form-control {
    border-left: none;
    border-right: none;
    border-bottom: none;

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
}

.chat-message {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;

  .message-time {
    white-space: nowrap;
    font-size: 12px;
    color: $gray-500;
    margin-left: 12px;
  }

  .message-content {
    padding: 10px;
    border-radius: 15px 15px 0 15px;
    border: 1px solid rgba(0,0,0,.05);
    color: black;
    background: $gray-300;
    display: inline-block;
    max-width: 60%;
    font-size: 13px;

    *:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  &-right {
    align-items: flex-end;

    .message-time {
      text-align: right;
      margin-right: 12px;
      margin-left: 0;
    }

    .message-content {
      border-radius: 15px 15px 15px 0px;
    }
  }

  &.donation {
    .message-time {
      color: $purple;
    }
    .message-content {
      background: $purple;
      color: white;
    }
  }
}